POSTGRES_PASSWORD=troque-por-uma-senha-forte
JWT_SECRET=troque-por-uma-string-aleatoria-bem-longa
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_EMAIL_TO=legalizacao@lscontabilidade.cnt.br
CONTACT_EMAIL_FROM=LS Contabilidade <site@lscontabilidade.cnt.br>
